<div id="main">
	<div class="main_top">
		<h1>About Us</h1>
	</div>

	<div class="main_body">
	<p>Joystick brings you the best games, at the cheapest prices. If you have any questions for our team,</p>
	<p>send us an <%= mail_to "gearoid.miggan@mydit.ie", "email" %>, or check out some of our frequently asked questions below</p>
	<p><b>Our return address is: 23 Lower Kevin Street, Dublin 2</b></p>
	
	<p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kevin+Street+Lower,+Dublin,+Ireland&amp;aq=0&amp;oq=Kevin+Street,+&amp;sll=35.028028,-106.536655&amp;sspn=0.104021,0.181789&amp;ie=UTF8&amp;hq=&amp;hnear=Kevin+Street+Lower,+Dublin,+County+Dublin,+Ireland&amp;t=m&amp;z=14&amp;ll=53.337632,-6.267606&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Kevin+Street+Lower,+Dublin,+Ireland&amp;aq=0&amp;oq=Kevin+Street,+&amp;sll=35.028028,-106.536655&amp;sspn=0.104021,0.181789&amp;ie=UTF8&amp;hq=&amp;hnear=Kevin+Street+Lower,+Dublin,+County+Dublin,+Ireland&amp;t=m&amp;z=14&amp;ll=53.337632,-6.267606" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
	<h2>FAQ</h2>
	<div id="faqs">
					<h3>-Why can I only buy one game a week? </h3>
			<div>
				<p>Joystick works of a very small level of stock, for this reason, we can only accommodate one sale per customer, per week</p>
			</div>
					<h3>-Why is Joystick cheaper than everywhere else?</h3>
			<div>
				<p>Joystick is all about the gamer, we want to ensure that you can afford the newest games, at the best prices</p>
			</div>
					<h3>-How much discount can I get on Joystick?</h3>
			<div>
				<p>On average, our games work out at 20% cheaper than anywhere else, and you can quote our price promise on that</p>
			</div>
				<h3>-What is the Joystick Price Promise?</h3>
			<div>
				<p>We endeavour to save the customer 20% on all new releases, if you can prove to us that we are not 20% cheaper than any seller,
				then we will give you 20% off their retail price </p>
			</div>
	</div>
	
	</div>
	<div class="main_bottom">
			
        </div>

</div>