<div id="main">
	<div class="main_top">
		<h1>Editing Product</h1>
	</div>

	<div class="main_body">
<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>

</div>
<div class="main_bottom">
			
        </div>

</div>