<div id="main">
	<div class="main_top">
		<h1>Editing Review</h1>
	</div>
	<div class="main_body">
<%= render 'form' %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>

</div>
<div class="main_bottom">
			
        </div>

</div>
